<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!--目录扫描，确定可以使用注解的目录-->
    <context:component-scan base-package="com.lovecoding"/>

    <!--配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"></bean>

    <!--配置JDBC模板对象-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--配置视图解析器-->
    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置前缀以什么开始-->
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <!--配置后缀以什么结束-->
        <property name="suffix" value=".jsp"></property>
    </bean>


    <!--配置Mybatis SQL会话工厂-->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:com/lovecoding/mybatis/sqlMapConfig.xml"></property>
    </bean>
    <!--配置Mapper基本包扫描-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lovecoding.mapper"></property>
    </bean>

    <!--将全局的异常处理器进行配置-->
   <!-- <bean id="myHandlerExceptionResolver" class="com.lovecoding.config.MyHandlerExceptionResolver"/>
-->
    <!--配置图片上传的解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--默认文件大小单位是B 5* 1024 * 1024   限制5M大小-->
        <property name="maxUploadSize" value="5242880"></property>

    </bean>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.lovecoding.interceptor.MyInterceptor1"></bean>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.lovecoding.interceptor.MyInterceptor2"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--开启MVC的注解驱动。会默认加载一些组件配置-->
    <mvc:annotation-driven/>
</beans>